.DS_Store
bin/
node_modules
.codex-tmp/
.pnpm-store/
.wrangler/
.vite-cache/
dist/
internal/audio/dsp/webrtc_bridge/lib/darwin-amd64/
*.db
*.db-wal
*.db-shm
.tmp
!internal/webui/dist/
internal/webui/dist/*
!internal/webui/dist/.gitkeep
